html {
    height: 100vh;
    width: 100vw;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;

}

.header-container {
    background-color: pink;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    padding: 1rem 2rem;
    gap: 1rem;  
    align-items: center;
}

.header {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.header-left {
    display: grid;
    grid-template-columns: .5fr 4fr;
}

.header-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.nav {
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-items: center;
}

.nav-left {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.main {
    background-color: green;
    grid-row: 2/-1;
}

.sidebar {
    background-color: blue;
    grid-column: 1/2;
    grid-row: 1/-1;
}

ul {
    list-style: none;
}